@font-face {
    font-family: "lalezar";
    src: url("../assets/fonts/Lalezar.ttf");
}
@font-face{
    font-family: "yekan";
    src: url("../assets/fonts/Yekan.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;

}
body{
    background: rgb(212, 133, 133);
    font-family:yekan;

}
/*todo------ header section ------ */
.header-section{
    width: 100%;
    height: 100vh;
    background: url("../assets/images/backgrounds/6.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section .top-bar{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .top-bar .company-logo{
     width: 100px;
     height: 100px;
     padding: 10px;
     border: 2px solid #550101;
     border-radius: 50%;
     
}

/*? .header-section .top-bar  .company-name */

/*! .top-bar >.company-logo + .company-name + .search-button"> .search-input > .search-icon" */